.gallery {
    width: 100%;
    background-color: #000000;

    .gallery-title {
        padding: 80px 0 50px 10px;
        margin: 0;
        font-size: 1.8rem;
        color: #FFF;
    }

    .images-container {
        width: 60%;
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;  

        @media (min-width: $tablet) {
            width: 70%;
            margin: 0 auto;
            justify-content: space-between;
        }
        
        @media (min-width: $desktop) {
            width: 100%;
            justify-content: space-around;
        } 

        .image {
            display: inline-block;
            width: 220px;
            margin-bottom: 10px; 
            background-color: #FFFFFF;
            color: #000000;
            padding: 5px;

            figure {
                padding: 0;
                margin: 0;
                img {
                    width: 100%;
                    cursor: pointer;
                }
            }
        }
    } 

    .btn-more-box {
        width: 100%;
        display: flex;
        justify-content: center;

        .load-more {
            background-color: #D60202;
            color: #FFF;
            text-transform: uppercase;
            padding: 15px 25px;
            border-radius: 3px;
            border: 0;
            margin-top: 30px;
    
            &:hover {
                background-color: #920000;
            }
        }
    }
}
