// --------- variables --------------
$tablet: 768px;
$desktop: 992px;

// -----------------------------------------------

@import "partials/normalize";

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    width: 100%;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;

    @media (min-width: $tablet){
        font-size: 18px;
    }
}

.container {
    margin: 0 auto;
    height:100%;

    @media (min-width: $desktop) {
        max-width: 960px;
    }
}



// --------- header ----------

.main__header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #000;
    display: inline-block;
    z-index: 3;

    @media (min-width: $tablet) {
        position: absolute;
    }

    .main__nav__toggle{
        position: absolute;
        right:10px;
        top: 0;
        width:65px;
        height:50px;
        background: transparent;
        border:0;
        cursor: pointer;
        transition: 0.5s height;

        @media (min-width: $tablet) {
            display: none;
        }

        span {
            transition: 0.5s all;
            position: absolute;
            left:50%;
            top:50%;
            transform: translate(-50%, -50%);
            width:70%;
            height:4px;
            background: #FFF;
            display: block;

            &:nth-of-type(1) {
                margin-top:-12px;
            }
            &:nth-of-type(3) {
                margin-top:12px;
            }
        }

        &:focus {
            outline: none;
        }

        strong {
            display: none;
        }
    }

    .main__nav {
        position: fixed;
        top: 50px;
        right: -200px;
        width: 170px;
        background: #000000;
        color: #FFF;
        transition: 0.5s all ease-in;

        @media (min-width: $tablet) {
            position: relative;
            top: 0;
            right: 0;
            width: 100%;
        }

        ul {
            padding: 0;
            margin: 0;

            li {
                display: block;
                list-style: none;
                line-height:20px;
                padding: 10px;
                text-transform: uppercase;

                @media (min-width: $tablet){
                    display: inline-block;
                    line-height: 50px;
                    padding: 0 10px;
                }

                &:hover {
                    color: #FB8;
                }

                a {
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }

    .show{
        right: 0;
    }
}

// ---------- main hero ------------

.main__hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;

    .hello__title {
        font-size: 3rem;
        color: #FFFFFF;
        margin: 0;
        text-align: center;
        border-bottom: 2px solid white;
        text-transform: uppercase;

        @media (min-width: $tablet){
            font-size: 3.5rem;
        }

        @media (min-width: $desktop){
            font-size: 4.5rem;
        }
    }

    .arrow {
        bottom: 30px;
        left: 50%;
        position: absolute;
        animation: animArrow 0.7s 0s infinite linear alternate;


        i {
            font-size: 30px;
            color: #FFF;
        }
    }
}

@keyframes animArrow {
    0% {transform:translate(0, 10%);}
    100% {transform:translate(0, -10%);}
}



//---------- about mars -----------

.about__mars {
    width: 100%;

    .about__title {
        padding: 80px 0 20px 10px;
        margin:0;
        font-size: 1.8rem;
    }

    p {
        padding: 10px;
        margin-bottom: 100px;
    }

    a {
        display: inline-block;
        color: black;

        &:after {
            content: '\f08e';
            font-family: FontAwesome;
        }
    }
}


// ----------- gallery ----------------

.gallery {
    width: 100%;
    background-color: #000000;

    .gallery__title {
        padding: 80px 0 50px 10px;
        margin: 0;
        font-size: 1.8rem;
        color: #FFF;
    }

    .images__container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        @media (min-width: $tablet) {
            width: 90%;
            margin: 0 auto;
            justify-content: space-between;
        }

        @media (min-width: $desktop) {
            width: 100%;
            justify-content: space-around;
        }

        .image {
            display: inline-block;
            width: 220px;
            margin-bottom: 10px;
            background-color: #FFFFFF;
            color: #000000;
            padding: 5px;

            figure {
                padding: 0;
                margin: 0;
                img {
                    width: 100%;
                }
            }
        }
    }

    .load__more {
        position: relative;
        left: 43.5%;
        background-color: #D60202;
        color: #FFF;
        text-transform: uppercase;
        padding: 15px 25px;
        border-radius: 3px;
        border: 0;
        margin-top: 30px;

        &:hover {
            background-color: #920000;
        }
    }
}

//----------- lightbox -------------


.lightbox {
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.8);
    position: fixed;
    top:0;
    left:0;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;

    .lightbox__container {
        min-width:200px;
        min-height:200px;
        background: #fff;
        box-shadow: 0 2px 5px rgba(0,0,0,0.7);
        padding:20px;
        position: relative;

        .lightbox__close {
            position: absolute;
            right:-15px;
            top:-15px;
            width:30px;
            height:30px;
            border-radius: 50%;
            background: #222;
            border:2px solid #fff;
            font-size:16px;
            color:#fff;
            box-shadow: 0 2px 5px rgba(0,0,0,0.7);
            cursor: pointer;
        }

        .lightbox__img {
            max-height:80vh;

            img {
                max-height: 80vh;
            }
        }
    }
}




// ------------ footer ---------

.main__footer {
    width: 100%;
    height: 70px;
    background-color: #000000;

    p {
        color: #FFFFFF;
        margin: 0;
        font-size: 0.7rem;
        line-height: 70px;
        float: right;
        padding-right: 20px;

        a {
            display: inline-block;
            text-decoration: none;
            color: inherit;
        }
    }


}
